body{
    margin: 0px;
    padding: 0px;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: sans-serif;
    background: url(go.jpeg) no-repeat;  
    background-size: cover;
}
.login-box{
    width: 435px;
    padding: 25px;
    position: absolute;
    top: 56%;  
    left: 50%;
    transform: translate(-50%,-50%); 
    box-sizing: border-box;
    background: #2f3542; 
    opacity: 0.7; 
    color: white;
}
.login-box h2{
    float: left;
    font-size: 30px;    
    border-bottom: 5px solid #4caf50;
    margin-bottom: 20px;
    padding: 8px 0
}
.textbox{
    width: 100%;
    overflow: hidden;
    font-size: 15px;
    padding: 12px 0;
    margin: 12px 0;
    border-bottom: 2.5px solid #4caf50;
}
.textbox i{
     width: 20px;
     float: left;
     text-align: center;
}
.textbox input{
    border: none;
    outline: none;
    background: none;
    color: azure;
    font-size: 15px;    
    width: 80%;
    float: left;
    margin: 0 10px;
}
.submit{
    width: 100%;
    background: none;
    border: 2.5px solid #4caf50;
    color: azure;   
    padding: 12px;
    font-size: 20px;
    cursor: pointer;
    margin: 20px 0;
}
.submit:hover{
    background: #1abc9c;
    transform: scale(.9);
}
.sm a{
    display: inline-block;
    font-size: 30px;
    width: 80px;
    height: 80px;
    padding: 7.5px;
    line-height: 100px;
    text-align: center;
    color: #4caf50;
    margin: 0 15px;
    transition: .4s linear;
    position: relative;
}

.sm a::before, .sm a::after{
    content: '';
    position: absolute;
    box-sizing: border-box;
    width: 60%;
    height: 60%;
    left: 20px;
    top: -7px;
    transition: .4s linear;
}

.sm a:hover{
    transform: scale(.8);
}

.sm a:hover::before{
    border-left: 2px solid;
    border-right: 2px solid;
    transform: skewX(15deg);
}
.sm a:hover::after{
    border-top: 2px solid;
    border-bottom: 2px solid;
    transform: skewY(-15deg);
}